<script id="wall-main" type="text/template">
	<div>
		<div class="container container-alt">
			<div class="row wall">
			    <div   class="col-md-8">
			        <div class="card w-post">
			            <div class="card-body">
			            </div>
			        </div>
				        <div id="posts">
						</div>
			    </div>
			    <div class="col-md-4 hidden-sm hidden-xs">
			        <div class="card">
			            <div class="card-header">
			                <h2>CARDS</h2>
			            </div>
			            <div class="card-body card-padding">

			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>

</script>

<script id="wall-post" type="text/template">
	<div class="post">
		<div class="card w-item">
		    <div class="card-header">
		        <div class="media">
		            <div class="media-body">
		                <h2><%-title%>
		                    <small><%-created_at%></small>
		                </h2>
		            </div>
		        </div>
		    </div>
		    <div class="card-body card-padding text-center">
		        <img class="" src="images/posts/<%=img%>" alt="">

		        <p><%- text %></p>

		        <div class="wi-preview lightbox clearfix">

		        </div>
		        <div class="wi-stats clearfix">
		            <div class="wis-numbers">
		                <span class="active"><i class="zmdi zmdi-favorite"></i><%=score%></span>
		            </div>
					  <div id="stars" class="stars">
					    <form action="">
					      <input class="star star-5" id="star-5-2" name="star" value="5" type="radio">
					      <label class="star star-5" for="star-5-2"></label>
					      <input class="star star-4" id="star-4-2" name="star" value="4" type="radio">
					      <label class="star star-4" for="star-4-2"></label>
					      <input class="star star-3" id="star-3-2" name="star" value="3" type="radio">
					      <label class="star star-3" for="star-3-2"></label>
					      <input class="star star-2" id="star-2-2" name="star" value="2" type="radio">
					      <label class="star star-2" for="star-2-2"></label>
					      <input class="star star-1" id="star-1-2" name="star" value="1" type="radio">
					      <label class="star star-1" for="star-1-2"></label>
					      <button id ="rate" class="btn btn-sm btn-default waves-effect" >Rate</button>
					    </form>
					  </div>
		        </div>
		    </div>
		    <div class="wi-comments">
		        <!-- Comment form -->
		        <div class="wic-form" style="border-bottom: 1px solid rgba(255,255,255,.06)">
		        	

			            <textarea id="comment" class="comment-open" placeholder="Write a commentttttt" ></textarea>

			            <div class="wicf-actions text-right">
			                <button class="btn btn-sm btn-link waves-effect comment-close" >Cancel</button>
			                <button class="btn btn-sm btn-default waves-effect comment-add">Post</button>
			            </div>
		            </div>
		            
		        </div>
		        <div  class="list-group">

                </div>


		    </div>




		</div>
	</div>
</script>
<script id="wall-comment" type="text/template">
	<div class="list-group-item media">
		<a href="" class="pull-left">
		</a>

		<div class="media-body">
		    <a  class="lgi-heading">Finn Walking <small class="c-gray m-l-10"><%-created_at%></small></a>
		    <small class="lgi-text"><%- text %></small>
		</div>
	</div>
</script>